.card-bundle{
    --width: 100%;
    --each-width: calc(var(--width)/12);
    width: var(--width)!important;
    display: flex;
    flex-wrap: wrap;
}
[class*="row-cols-"] .col{
    --column: 1;
    width: calc(var(--width)/var(--column)) !important;
    padding: 5px;
    box-sizing: border-box!important;
    }
.col-5{
    --inner-count: 5;
    width: calc(var(--each-width)*var(--inner-count))!important;
    
}
.col-7{
    --inner-count: 7;
    width: calc(var(--each-width)*var(--inner-count))!important;
}
.file-url{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-decoration: none!important;
}
.card-wrap{
    display: flex;
    flex-wrap: nowrap;
}
.file-url, .card-wrap{
    width: var(--width)!important;
}
.img-bundle{
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.language-icon{
    width: 40%;
}
.card-body{
    display: flex;
    align-items: center;
}
.card-title{
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
.card-title:hover .octicon{
    display: none!important;
}
.notfinished .file-url, .notfinished .language-icon{
    background-color: #F1E1FF;
    pointer-events: none;
}
@media screen and (min-width: 540px) {
    .row-cols-sm-1 .col{
        --column: 1;
    }
}
@media screen and (min-width: 720px) {
    .row-cols-md-2 .col{
        --column: 2;
    }
}
@media screen and (min-width: 960px) {
    .row-cols-lg-3 .col{
        --column: 3;
    }
}